MYSQL_DATABASE=drilling_report_db
MYSQL_USER=drilling_user
MYSQL_PASSWORD=change_me_drilling_password
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
PHPMYADMIN_PORT=8082
DRP_USE_MYSQL=true
